{% extends 'base.html' %}
{% load static %}

{% block body %}
<style>
    .landing_pic {
        position: absolute;
        margin-left: 60px;
        margin-top: 200px;
        
    }

</style>
<div class="mx-auto" style="display: block;" >
    <a href="https://www.linkpicture.com/q/graphic-designer-creating-his-artwork-using-computer_80802-1077-removebg-preview.png">
        <div class="landing_pic" >
            <img src="https://www.linkpicture.com/q/graphic-designer-creating-his-artwork-using-computer_80802-1077-removebg-preview.png" alt="landing_pic">
        </div>
    </a>
</div>
<div class="container">
    <div class="container-1">
      <section class="instruction"><p>Welcome to Mamta Career Consultency, A place where you can plan your futuer and find a purpose of your education. With a good plan you can make your dreams come ture.</p></section>
    </div>
  </div>

{% endblock body %}