{% extends 'base.html' %}

{% block title %}MCC-Sign_In{% endblock title %}</title>


{% block body %}

<div class="mx-auto">
  <section>
    <div class="mx-auto my-lg-5">
      <div class="row mx-auto">
        <div class="mx-auto">
          <div class="bg-transparent bg-opacity-5 rounded p-4 p-sm-5 mx-auto" style="width: 1000px; will-change: auto;">
            <h2>Log in to your account</h2>
            <!-- Form START -->

            <form class="mt-4" hx-post="http://127.0.0.1:8000/accounts/sign_in/" hx-swap="none" hx-target="#signin-form">
              <div class="mb-3">
                <label class="form-label" for="email">Email address</label>
                <input class="form-control" type="email" id="email" name="email" placeholder="E-mail">
              </div>
              <br>
              <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="*********">
              </div>
              <br>
              <div class="row align-items-center">
                <div class="col-sm-4">
                  <button  class="btn btn-success" type="submit" id="submit">Sign In</button>
                </div>
                <div class="col-sm-8 text-sm-end">
                  <span>Don't have an account? <a href="/accounts/sign_up/">
                      <button type="button" class="btn btn-secondary btn-sm active">Sign_Up</button>
                    </a></span>
                </div>
              </div>
            </form>
            <div id="signin-form"></div>
            <!-- Form END -->
            <hr>
            <!-- Social-media btn -->
            <div class="text-center">
              <p>Sign in with your social network for quick access</p>
              <ul class="list-unstyled d-sm-flex mt-3 justify-content-center">
                <li class="mx-2">
                  <a href="#" class="btn bg-facebook d-inline-block"><i class="fab fa-facebook-f me-2"></i> Sign in with Facebook</a>
                </li>
                <li class="mx-2">
                  <a href="#" class="btn bg-google d-inline-block"><i class="fab fa-google me-2"></i> Sign in with google</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<script>
  function handleSigninResponse(event) {
    console.log(event.detail.xhr.response);
    let response = JSON.parse(event.detail.xhr.response);
    if (response.status === 'success') {
      localStorage.setItem('token', response.token);
    }
  }

  function printResponse(response) {
  console.log(response);
}
</script>


{% endblock body %}